.subtitle {
  font-family: 'Roboto', sans-serif;
  color: #FFF !important;
}

@media(min-width: 633px) {
  .logo {
    content:url("../img/logo.png");
  }
}

@media(max-width: 632px){
  .logo {
    content:url("../img/logoSm.png");
  }
}
