<div class="jumbotron">
	<div class="inner">
		
		<div class="logo">
			<img src="images/logo.svg" class="logo" alt="CHE hacks logo">	
		</div>

		<div class="text">
			<h1><strong>May 16 - 17, 2015</strong></h1>
			<h2><small>Open the Door to Programming</small></h2>	
		</div>

		<div class="signup">

			<%if (showForm) { %>
			<form action="/" method="post">
				<div class="row">
					<div class="emailContainer">
						<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
					</div>
					<button type="submit" class="btn btn-default">Stay Informed</button>
				</div>
			</form>
			<% } %>

			<%if (typeof email != 'undefined') { %>
				<h1><em><%- email %></em></h1>
			<% } %>
		</div>

	</div>
</div>

<div class="sections">
	<div class="section mission">
		<header class="h1">
			<h1>Learn by Doing</h1>
			<h2>No experience needed</h2>
		</header>
		<div class="container-fluid">
			<h1>CHE hacks is a 24 hour hackathon where <em>you</em> can learn to code.</h1>
			<h1>Experienced hackers are also welcome.</h1>
			<!-- <div class="block">
				<h1>When?</h1>
				<p>May 16-17, 2015</p>
			</div>
			<div class="block">
				<h1>Where?</h1>
				<p>Cherry Hill High School East, Cherry Hill, NJ</p>
			</div> -->

		</div>		
	</div>

	<div class="section importantDetails">
		<header class="h1">
			<h1>May 16-17, 2015</h1>
			<h2>Cherry Hill High School East, Cherry Hill NJ</h2>
		</header>
		<div class="container-fluid map">
			<iframe width='100%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/bogidon.l6gl3gko/attribution,zoompan.html?access_token=pk.eyJ1IjoiYm9naWRvbiIsImEiOiJrVDd5QkgwIn0.S8EK_4IzAQFOFssmXyf7jQ'></iframe>
		</div>
	</div>

	<div class="section faq">
		<header class="h1">
			<h1>FAQ</h1>
		</header>
		<div class="container">
			<div class="block">
				<h1>What is CHE hacks?</h1>
				<p>CHE hacks II is one of the biggest high school hackathons in the nation! The purpose of this hackathon is to give high school students an easy way to learn how to code. Experienced hackers can also come and learn about new technologies that they can use. Check out an article about us on NJ.com!</p>
			</div>
			<div class="block">
				<h1>What is a hackathon?</h1>
				<p>A hackathon is an event in which teams spend the weekend building something awesome (and then demo it). CHE hacks is open to anyone, from the absolute beginner to the professional hacker. Check out Dave Fontenot's post on "What is a hackathon?"</p>
			</div>
			<div class="block">
				<h1>What if I don't know how to code?</h1>
				<p>There is absolutely nothing wrong with that! Hackathons provide an awesome opportunity for people to learn how to code. Even if you have never programmed before in your life, we will help you get started with the basics of programming and hopefully by the end of the hackathon, you will leave with a working application!</p>
			</div>
			<div class="block">
				<h1>How and when do I submit my hack?</h1>
				<p>You must submit your hack by 11:00am on Sunday, but can still work on them after 11. We will send an email with more information on Sunday. Please do not start your project before the hackathon begins.</p>
			</div>
		</div>
	</div>

	<div class="section sponsors">
		<header class="h1">
			<h1>SPONSORS</h1>
		</header>
		<div class="container">
			<div class="row bronze">
				<% for(var i=0; i<bronzeSponsorPaths.length; i++) {%>
					<div class="col-xs-4 col-sm-3 col-md-2">
						<div class="thumbnail">
							<img src="images/bronze/<%= bronzeSponsorPaths[i] %>" alt="sponsor">
						</div>
					</div>
				<% } %>
			</div>
			
			<h2><a href="mailto:sponsors@chehacks.com">Interested?</a></h2>
		</div>
	</div>

	<div class="section stayTuned">
		<header class="h1">
			<h1>Stay Tuned</h1>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-twitter-square"></i>
		</header>
	</div>
</div>