<div class="jumbotron">
	<div class="inner">
		
		<div class="logo">
			<img src="images/logo.svg" class="logo" alt="CHE hacks logo">	
		</div>

		<div class="text">
			<h2><small>May 16 - 17, 2015</small></h2>	
			<h1><strong>Open the Door to Programming</strong></h1>
		</div>

		<div class="signup">

			<%if (showForm) { %>
			<form action="/" method="post">
				<div class="row">
					<div class="emailContainer">
						<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
					</div>
					<button type="submit" class="btn btn-default">Stay Informed</button>
				</div>
			</form>
			<% } %>

			<%if (typeof email != 'undefined') { %>
				<h1><em><%- email %></em></h1>
			<% } %>
		</div>

	</div>
</div>

<div class="sections">
	<div class="section mission">
		<header class="h1">
			<h1>Come Learn to Code</h1>
			<h2>All in 24 hours</h2>
		</header>
		<div class="container-fluid">
			<h1>Learn to code with mentors and friends.</h1>
			<h1>You bring the attitude, we'll bring the rest.</h1>
			<h1>More seasoned? No problem, we've got you covered too.</h1>
			<!-- <div class="block">
				<h1>When?</h1>
				<p>May 16-17, 2015</p>
			</div>
			<div class="block">
				<h1>Where?</h1>
				<p>Cherry Hill High School East, Cherry Hill, NJ</p>
			</div> -->

		</div>		
	</div>

	<div class="section importantDetails">
		<header class="h1">
			<h1>May 16-17, 2015</h1>
			<h2>Cherry Hill High School East, Cherry Hill NJ</h2>
		</header>
		<div class="container-fluid map">
			<iframe width='100%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/bogidon.l6gl3gko/attribution,zoompan.html?access_token=pk.eyJ1IjoiYm9naWRvbiIsImEiOiJrVDd5QkgwIn0.S8EK_4IzAQFOFssmXyf7jQ'></iframe>
		</div>
	</div>

	<div class="section faq">
		<header class="h1">
			<h1>FAQ</h1>
		</header>
		<div class="container">
			<div class="block">
				<h1>What is a hackathon?</h1>
				<p>A hackathon is a timed event where participants compete to create software or hardware "hacks". Although hackathons are competitions, they're also fantastic learning experiences. More info <a href="http://medium.com/hackathons-anonymous/3d5413601c05">here</a>.</p>
			</div>
			<div class="block">
				<h1>What if I don't know how to code?</h1>
				<p>Perfect! We created CHE Hacks to teach people how to code, so even if you've never programmed before, this is the hackathon for you! We'll have plenty of mentors to go around.</p>
			</div>
			<div class="block">
				<h1>What if I'm not a beginner?</h1>
				<p>Great! CHE Hacks is just as open to beginners as it is to more advanced developers. Looking to persue more advanced hacks? Our mentors can help you there too.</p>
			</div>
			<div class="block">
				<h1>How do I make a team?</h1>
				<p>First, try recruiting people from your school. If that doesn't work, don't worry, we'll give you a chance to talk to other participents before and during CHE Hacks.</p>
			</div>
			<div class="block">
				<h1>What should I build?</h1>
				<p>If you have an idea beforehand, we'll help you build it.  </p>
			</div>
		</div>
	</div>

	<div class="section sponsors">
		<header class="h1">
			<h1>SPONSORS</h1>
		</header>
		<div class="container">
			<div class="row bronze">
				<% for(var i=0; i<bronzeSponsorPaths.length; i++) {%>
					<div class="col-xs-4 col-sm-3 col-md-2 col-centered">
						<div class="thumbnail">
							<img src="images/bronze/<%= bronzeSponsorPaths[i] %>" alt="sponsor">
						</div>
					</div>
				<% } %>
			</div>
			
			<h2><a href="mailto:sponsors@chehacks.com">Interested in sponsoring?</a></h2>
		</div>
	</div>

	<div class="section stayTuned">
		<header class="h1">
			<h1>Stay Tuned</h1>
				<!-- <i class="fa fa-facebook-square"></i>
				<i class="fa fa-twitter-square"></i> -->
		</header>
	</div>
</div>