<html>
<head>
<!-- bower:css -->
<!-- endbower -->
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
Does gitPull work? Hello there!
<!-- bower:js  -->
<script src="../bower_components/modernizr/modernizr.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<!-- endbower -->
</body>
</html>