<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

	<div class="collapse navbar-collapse">
	  	<ul class="nav navbar-nav" role="tablist">
	    	<li class="active"><a href="#home">Home</a></li>
	    	<li><a href="#about">About</a></li>
	    	<li><a href="#faq">FAQ</a></li>
	    	<li><a href="#sponsors">Sponsors</a></li>
		</ul>
	</div>
</div>

<div class="jumbotron" id="home">
	<div class="inner">
		
		<div class="logo">
			<img src="images/logo.svg" class="logo" alt="CHE hacks logo">	
		</div>

		<div class="text">
			<h2><small>May 16 - 17, 2015</small></h2>	
			<h1><strong>Open the Door to Programming</strong></h1>
		</div>

		<div class="signup">

			<%if (showForm) { %>
			<form action="/" method="post">
				<div class="row">
					<div class="emailContainer">
						<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
					</div>
					<button type="submit" class="btn btn-default">Stay Informed</button>
				</div>
			</form>
			<% } %>

			<%if (typeof email != 'undefined') { %>
				<h1><em><%- email %></em></h1>
			<% } %>
		</div>

	</div>
</div>

<div class="sections">
	<div class="section mission">
		<div class="navstop" id="about"></div>
		<header class="h1">
			<h1>Come Learn to Code</h1>
			<h2>May 16-17, 2015</h2>
		</header>
		<div class="container-fluid">
			<h1>CHE Hacks is a high school hackathon for students who are excited to learn programming!</h1>
			<h1>We'll provide mentors and a fun environment; you just come with a desire to learn.</h1>
			<h1>More advanced? Don't worry, CHE Hacks has got you covered too.</h1>
			<!-- <div class="block">
				<h1>When?</h1>
				<p>May 16-17, 2015</p>
			</div>
			<div class="block">
				<h1>Where?</h1>
				<p>Cherry Hill High School East, Cherry Hill, NJ</p>
			</div> -->
		</div>		
		<div class="container-fluid map">
			<div class="address">
				<a href="https://www.google.com/maps/place/Cherry+Hill+High+School+East/@39.876549,-74.964047,17z/data=!3m1!4b1!4m2!3m1!1s0x89c1334c710f413f:0x17a270bfdcd9340a" target="_blank">1750 Kresson Road, Cherry Hill, New Jersey</a>
			</div>
			<iframe width='100%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/bogidon.l6gl3gko/attribution,zoompan.html?access_token=pk.eyJ1IjoiYm9naWRvbiIsImEiOiJrVDd5QkgwIn0.S8EK_4IzAQFOFssmXyf7jQ'></iframe>
		</div>
	</div>

	<!-- <div class="section importantDetails">
		<header class="h1">
			<h1>May 16-17, 2015</h1>
			<h2>Cherry Hill High School East, Cherry Hill NJ</h2>
		</header>
		
	</div> -->

	<div class="section faq">
		<div class="navstop" id="faq"></div>
		<header class="h1">
			<h1>FAQ</h1>
		</header>
		<div class="container">
			<div class="block">
				<h1>What is a hackathon?</h1>
				<p>A hackathon is a timed event during which students who share an enthusiasm for technology build cool things, called software or hardware "hacks". Teams will compete to make the coolest hacks and win prizes! Although hackathons are competitions, they're fantastic learning experiences. Click <a href="http://medium.com/hackathons-anonymous/3d5413601c05">here</a> for more info.</p>
			</div>
			<div class="block">
				<h1>What if I don't know how to code?</h1>
				<p>Perfect! CHE Hacks is <em>the hackathon</em> for learning how to code, so even if you've never programmed before, don't worry! We'll have plenty of workshops to get you started and mentors to help you out. </p>
			</div>
			<div class="block">
				<h1>What if I'm <em>not</em> a beginner?</h1>
				<p>Great! CHE Hacks is just as open to advanced developers as it is to beginners. Looking to pursue more advanced hacks? Our mentors can help you with that too.</p>
			</div>
			<div class="block">
				<h1>What should I build?</h1>
				<p>Many people build games, apps, or websites. However, if you have an idea for something else, you can certainly try making it. If you don't have an idea, that's totally fine too! Either way, our mentors at the workshops can help you with your hack. </p>
			</div>
			<div class="block">
				<h1>How do I make a team?</h1>
				<p>First, you can try asking other people from your school. Introduce your friends to hackathons if they haven't heard of them already! If that doesn't work, don't worry, we'll give you a chance to talk to other participants before and during CHE Hacks. If you want to, you can also work individually, but we encourage you to try to work with others for the best learning experience.</p>
			</div>
			<div class="block">
				<h1>What about should I bring?</h1>
				<p>Just bring your laptop and charger! Some people choose to work for the full 24 hours, but if you plan on sleeping, you can also bring a sleeping bag and pillow.</p>
			</div>
			<!-- <div class="block">
				<h1>What about food?</h1>
				<p>We'll provide all the food! There will be 3 meals, as well as lots of snacks (ice cream, anyone?).</p>
			</div> -->
		</div>
	</div>

	<div class="section sponsors">
		<div class="navstop" id="sponsors"></div>
		<header class="h1">
			<h1>SPONSORS</h1>
		</header>
		<div class="container">
			<div class="row bronze">
				<% for(var i=0; i<bronzeSponsorPaths.length; i++) {%>
					<div class="col-xs-4 col-sm-3 col-md-2 col-centered">
						<div class="thumbnail">
							<img src="images/bronze/<%= bronzeSponsorPaths[i] %>" alt="sponsor"> 
						</div>
					</div>
				<% } %>
			</div>
			
			<h2><a href="sponsors.pdf" target="_blank">Interested in sponsoring?</a></h2>
		</div>
	</div>

	<div class="section stayTuned">
		<header class="h1">
			<h1>Stay Tuned</h1>
			<a href="https://www.facebook.com/CHEHacks" target="_blank"><i class="fa fa-facebook-square"></i></a>
			<a href="https://twitter.com/che_hacks" target="_blank"><i class="fa fa-twitter-square"></i></a>
		</header>
	</div>
</div>