<div class="jumbotron">
	<div class="inner">
		<div class="logo">
			<img src="images/logo.svg" class="logo" alt="CHE hacks logo">	
		</div>
		<div class="moto h1">Open the Door to Programming</div>

	</div>

	<div class="container">
		
	</div>
</div>