<div class="jumbotron">
	<div class="inner">
		
		<div class="logo">
			<img src="images/logo.svg" class="logo" alt="CHE hacks logo">	
		</div>

		<div class="text">
			<h1><strong>May 16 - 17, 2015</strong></h1>
			<h2><small>Open the Door to Programming</small></h2>	
		</div>

		<form>
			<div class="row">
				<div class="emailContainer">
					<input type="email" class="form-control" id="email" placeholder="Enter email">
				</div>
				<button type="submit" class="btn btn-default">Stay Informed</button>
			</div>
		</form>

	</div>

	<div class="container">
		
	</div>
</div>