<div class="jumbotron">
	<div class="inner">

		<div class="logo">
			<img src="images/logo.svg" class="logo" alt="CHE hacks logo">	
		</div>

		<div class="text">
			<h1><strong>May 16 - 17, 2015</strong></h1>
			<h1><small>Open the Door to Programming</small></h1>	
		</div>

	</div>

	<div class="container">
		
	</div>
</div>