<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
    @import url('https://themes.googleusercontent.com/fonts/css?kit=dB3GuSCq0f_LRNaO3opFPA');
    ol {
        margin: 0;
        padding: 0
    }
    
    .c9 {
        border-right-style: solid;
        padding: 5pt 5pt 5pt 5pt;
        border-bottom-color: #000000;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #000000;
        vertical-align: top;
        border-right-color: #000000;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 468pt;
        border-top-color: #000000;
        border-bottom-style: solid
    }
    
    .c2 {
        border-right-style: solid;
        padding: 5pt 5pt 5pt 5pt;
        border-bottom-color: #000000;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #000000;
        vertical-align: top;
        border-right-color: #000000;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 156pt;
        border-top-color: #000000;
        border-bottom-style: solid
    }
    
    .c1 {
        color: #000000;
        font-weight: normal;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Open Sans";
        font-style: normal
    }
    
    .c11 {
        color: #ffffff;
        font-weight: normal;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-style: normal
    }
    
    .c0 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        text-align: left;
        direction: ltr
    }
    
    .c17 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        direction: ltr
    }
    
    .c18 {
        background-color: #ffffff;
        max-width: 468pt;
        padding: 72pt 72pt 72pt 72pt
    }
    
    .c5 {
        font-size: 18pt;
        font-family: "Open Sans";
        font-weight: bold
    }
    
    .c14 {
        border-collapse: collapse;
        margin-right: auto
    }
    
    .c12 {
        orphans: 2;
        widows: 2;
        direction: ltr
    }
    
    .c7 {
        font-family: "Open Sans"
    }
    
    .c15 {
        height: 21pt
    }
    
    .c8 {
        font-style: italic
    }
    
    .c6 {
        color: #85200c
    }
    
    .c10 {
        height: 11pt
    }
    
    .c4 {
        background-color: #85200c
    }
    
    .c3 {
        height: 0pt
    }
    
    .c16 {
        text-align: center
    }
    
    .c13 {
        height: 23pt
    }
    
    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }
    
    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }
    
    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }
    
    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }
    
    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }
    
    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }
    
    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }
    
    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }
    
    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }
    
    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
    </style>
</head>

<body class="c18">
    <p class="c12 c16"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 197.00px; height: 63.50px;"><img alt="" src="assets/images/logo_red.svg" style="width: 197.00px; height: 63.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c12 c16"><span class="c5">Tentative Schedule</span></p>
    <p class="c12 c16"><span class="c5 c6">*confidential &ndash; please keep private</span></p>
    <p class="c12 c10"><span class="c7"></span></p>
    <a href="#" name="db6440e6747a3fe8648870e0ce17ea1f1d3fd712"></a>
    <a href="#" name="0"></a>
    <table cellpadding="0" cellspacing="0" class="c14">
        <tbody>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Time</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Event</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Location</span></p>
                </td>
            </tr>
            <tr class="c15">
                <td class="c9 c4" colspan="3" rowspan="1">
                    <p class="c17 c16"><span class="c11 c7">Saturday</span></p>
                </td>
            </tr>
            <tr class="c13">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">10:00 AM - 12:00 PM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Sponsors Check In</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Downstairs Lobby</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">12:00 PM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Hacker Check In Opens</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Upstairs Lobby</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">2:00 PM - 2:45 PM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Opening Ceremonies</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Main Room</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">2:45 PM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Hacking Begins</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Conference Center</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">3:00 PM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Team Forming (surprise!)</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Downstairs Lobby</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">7:45 PM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Dinner</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Upstairs Lobby</span></p>
                </td>
            </tr>
            <tr class="c15">
                <td class="c4 c9" colspan="3" rowspan="1">
                    <p class="c16 c17"><span class="c7 c11">Sunday</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">12:00 AM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Midnight Snack</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Upstairs Lobby</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">2:00 AM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Early morning surprise</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">???</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">8:00 AM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Breakfast</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Upstairs Lobby</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">12:00 PM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Hacking Ends</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Everywhere!</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">12:00 PM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Lunch</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Lobby</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">1:00 PM - 2:00 PM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Demos</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Reading Room</span></p>
                </td>
            </tr>
            <tr class="c3">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">2:15 PM - 2:30 PM</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Closing Ceremonies</span></p>
                </td>
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c1">Main Room</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c12 c10"><span class="c7"></span></p>
    <p class="c12"><span class="c7 c8">note: these times are estimates. Actual times may vary. Schedule does not include workshops.</span></p>
</body>

</html>
