@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@import "_variables.scss";
@import "_mixins.scss";

// bower:scss
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

* {
	text-rendering: optimizeLegibility;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	overflow-x: hidden;
	background-color: #8A1315;
	position: relative;
}

a {
	font-weight: 300;
	color: lighten($header-large-text-color, 20%);
	&:hover {
		color: lighten($header-large-text-color, 10%);
	}
}

nav {
	position: block;
	.container {
		padding: 0;	
	}
}

.navbar {
	.navbar-collapse {
	  	text-align: center;

	  	.navbar-nav {
			display: inline-block;
			float: none;
			vertical-align: top;
		}

		ul {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.jumbotron {
	display: flex;
	display: -webkit-flex;
	align-items: center;

	background: url("../../images/bg.png") #333 no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 0;
	text-align: center;
	height: 100%;
	overflow-x: hidden;

	@media (max-width: $screen-xs-max){
		padding-top: 81px;
		height: auto;
		display: block;
	}

	@media screen and (max-height: 600px) {
		height: auto;
	}

	.inner {
		width: 100%;
		margin: auto;
		overflow-x: visible;
	}

	.inner > div {
		@include make-row();
	}

	.logo img {
		// @include center-block();
		@include make-xs-column(8);
		@include make-xs-column-offset(2);
		@include make-md-column(6);
		@include make-md-column-offset(3);
		@include make-lg-column(6);
		@include make-lg-column-offset(3);	
	}

	.text {
		padding-top: 2em;
		@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
			padding-top: 1em;
		}

		* {
			color: white;
		}
		h1 strong {
			font-size: 0.75em;
		}
		h2 small {
			padding: 0;
			font-size: 1.25em;
		}
	}

	.signup {
		padding-top: 4em;
		@media (max-width: $screen-xs-max) {
			padding-top: 1em;
		}
		h1 {
			color: white;
			font-weight: 300;
			font-size: 3em;
			@media (max-width: $screen-sm-max) {
				font-size: 4vw;
			}
		}
		form {
			input, button {
				height: 50px;
				font-size: 1.5em;
			}

			.emailContainer {
				@include make-xs-column(10);
				@include make-sm-column(5);
				@include make-xs-column-offset(1);
				@include make-sm-column-offset(2);
				padding-left: 0px;
				padding-right: 0px;

				input {
					@media (min-width: $screen-xs-max) {
							@include border-right-radius(0);
					}

					@media (max-width: $screen-xs-max) {
						@include border-bottom-radius(0);
						text-align: center;
					}

				}

				
			}
			button {
				@include make-xs-column(10);
				@include make-sm-column(3);
				@include make-xs-column-offset(1);
				@include make-sm-column-offset(0);
				color: white;
				font-weight: 700;
				background-color: rgba($base-background-color, 0.5);
				border: none;

				@media (min-width: $screen-xs-max) {
					@include border-left-radius(0);
				}

				@media (max-width: $screen-xs-max) {
					@include border-top-radius(0);
				}

				&:hover {
					background-color: rgba(mix($base-background-color, $primary-color, 70), 0.5);
					color: white;
				}
			}
		}
	}
}

.sections {
	position: relative;
	& > .section:not(:first-child) header {
		border-top: 2px solid $header-primary-color;
	}	
	& .sections > .section:not(:last-child) header {
		border-bottom: 2px solid $header-primary-color;
	}
}

.section {
	position: relative; 
	.navstop {
		position: absolute;
		top: -48px;
	}
}

header.h1 {
	margin: 0;
	display: block;
	width: 100%;
	text-align: center;
	padding: 2em 0em;
	background-color: #eee;
	font-size: $header-font-size-md;

	@media (max-width: $screen-xs-max) {
		padding-left: 2em;
		padding-right: 2em;
		font-size: 20px;
		font-size: $header-font-size-xs;
	}

	h1 {
		color: $header-large-text-color;
		margin: 0;
		font-size: 2em;
		font-weight: bold;
	}

	h2 {
		font-size: 1em;
		color: $header-small-text-color;
	}	
}

.container, .container-fluid {
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	color: white;
}

.mission {
	padding-bottom: 0;

	h1 {
		font-weight: 300;
		font-size: $mission-font-size-md;
		line-height: $mission-line-height-md;

		@media (max-width: $screen-sm-max) {
			line-height: $mission-line-height-xs;
			font-size: $mission-font-size-xs;
		}
	}
}
.map {
	position: relative;
	padding: 0px;
	iframe {
		height: 300px;

		@media (max-width: $screen-xs-max) {
			height: 200px;
		}
	}
	.address {
		height: 36px;
		// position: absolute;
		// background-color: $header-background-color;
		// left:0;
		// right:0;
		// bottom:0px;
		display: flex;
		display: -webkit-flex;
	}

	a {
		font-size: 16px;
		margin: auto;
	}
}

.faq {
	.block {
		text-align: left;
		font-size: 20px;

		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(4);

		@media (max-width: $screen-xs-max) {
			text-align: center;
			height: auto;
		}
		@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
			height: 20em;
		}
		@media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
			height: 24em;
		}
		@media (min-width: $screen-md-max) {
			height: 20em;
		}

		p {
			font-size: 1em;
			font-weight: 300;
		}
	}
}

.sponsors {
	text-align: center;
	.col-centered {
		display: inline-block;
		float: none;
		margin-right:-4px;
	}

	.thumbnail {
		background-color: transparent;
		border: none;
	}
	.bronze .thumbnail {
		display: flex;
		display: -webkit-flex;
		height: 100px;
		margin-bottom: 30px;

		img {
			margin: auto;
			width: 100%;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.stayTuned header {
	background: url("../../images/bottom.png") #333 no-repeat;
	background-size: cover;
	background-position: center top;

	h1 {
		color: white;
	}

	i {
		color: white;
		font-size: 3em;
		margin-top: 0.25em;
		margin-left: 10px;
		margin-right: 10px;
	}
}