@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@import "_variables.scss";
@import "_mixins.scss";

// bower:scss
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

* {
	text-rendering: optimizeLegibility;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #eee;
}

.jumbotron {
	display: flex;
	display: -webkit-flex;
	align-items: center;

	background: url("../../images/bg.jpg") #333 no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 0;
	text-align: center;
	height: 100%;

	@media (max-width: $screen-xs-max){
		height: auto;
		display: block;
	}

	@media screen and (max-height: 600px) {
		height: auto;
	}

	.inner {
		width: 100%;
		margin: auto;
	}

	.inner > div {
		@include make-row();
	}

	.logo img {
		// @include center-block();
		@include make-xs-column(8);
		@include make-xs-column-offset(2);
		@include make-md-column(6);
		@include make-md-column-offset(3);
		@include make-lg-column(6);
		@include make-lg-column-offset(3);	
	}

	.text {
		padding-top: 2em;
		@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
			padding-top: 1em;
		}

		* {
			color: white;
		}
		h1 strong {
			font-size: 0.75em;
		}
		h2 small {
			padding: 0;
			font-size: 1.25em;
		}
	}

	.signup {
		padding-top: 4em;
		@media (max-width: $screen-xs-max) {
			padding-top: 1em;
		}
		h1 {
			color: white;
			font-weight: 300;
			font-size: 3em;
			@media (max-width: $screen-sm-max) {
				font-size: 4vw;
			}
		}
		form {
			input, button {
				height: 50px;
				font-size: 1.5em;
			}

			.emailContainer {
				@include make-xs-column(10);
				@include make-sm-column(5);
				@include make-xs-column-offset(1);
				@include make-sm-column-offset(2);
				padding-left: 0px;
				padding-right: 0px;

				@media (min-width: $screen-xs-max) {
					input {
						@include border-right-radius(0);
						
					}
				}

				@media (max-width: $screen-xs-max) {
					input {
						text-align: center;
					}
				}
			}
			button {
				@include make-xs-column(10);
				@include make-sm-column(3);
				@include make-xs-column-offset(1);
				@include make-sm-column-offset(0);
				color: white;
				font-weight: 700;
				background-color: rgba($base-background-color, 0.5);
				border: none;

				@media (min-width: $screen-xs-max) {
					@include border-left-radius(0);
				}

				&:hover {
					background-color: rgba(mix($base-background-color, $primary-color, 70), 0.5);
					color: white;
				}
			}
		}
	}
}

.sections > .section:not(:first-child) header {
	border-top: 2px solid $header-primary-color;
}
.sections > .section:not(:last-child) header {
	border-bottom: 2px solid $header-primary-color;
}

header.h1 {
	margin: 0;
	display: block;
	width: 100%;
	text-align: center;
	padding: 2em 0em;
	background-color: $header-background-color;

	@media (max-width: $screen-xs-max) {
		padding-left: 2em;
		padding-right: 2em;
		font-size: 20px;
		font-size: 5vw;
	}

	h1 {
		color: $header-large-text-color;
		margin: 0;
		font-size: 2em;
		font-weight: bold;
	}

	h2 {
		font-size: 1em;
		color: $header-small-text-color;
	}	
}

.container, .container-fluid {
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
}

.mission {
	h1 {
		font-weight: 300;

		@media (min-width: $screen-sm-max) {
			font-size: 2.75vw;
		}
	}
}

.importantDetails {
	.map {
		padding: 0px;
		iframe {
			height: 300px;

			@media (max-width: $screen-xs-max) {
				height: 40vh;
			}
		}
	}
}

.faq {
	.block {
		text-align: left;
		font-size: 20px;

		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(4);

		@media (max-width: $screen-xs-max) {
			text-align: center;
			height: auto;
		}
		@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
			height: 20em;
		}
		@media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
			height: 22em;
		}
		@media (min-width: $screen-md-max) {
			height: 18em;
		}

		p {
			font-size: 1em;
		}
	}
}

.sponsors {
	text-align: center;
	
	.thumbnail {
		background-color: transparent;
		border: none;
	}
	.bronze .thumbnail {
		display: flex;
		display: -webkit-flex;
		height: 100px;
		margin-bottom: 30px;

		img {
			margin: auto;
			width: 100%;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	a {
		font-weight: 300;
	}
}

.stayTuned header {
	background: url("../../images/bg.jpg") #333 no-repeat;
	background-size: cover;
	background-position: center bottom;

	h1 {
		color: white;
	}

	i {
		color: white;
		font-size: 3em;
		margin-top: 0.25em;
		margin-left: 10px;
		margin-right: 10px;
	}
}