.subtitle {
  font-family: 'Roboto', sans-serif;
  color: #FFF !important;
}

@media (min-width: 768px){
  .navbar-default {
      border-color: rgba(255,255,255,.3);
      background-color: transparent;
  }
}

@media (min-width: 768px) {
  .navbar-default.affix {
      border-color: rgba(34,34,34,.05);
      background-color: #8A1315 !important;
  }
}

li .page-scroll {
  /*color: #777 !important;*/
}

.navbar-default.affix .navbar-header .navbar-brand {
  color: #CCC !important;
}

.navbar-default.affix .nav > li>a, .navbar-default.affix .nav>li>a:focus {
      color: #AAA !important;
}

.navbar-default .nav > li.active>a, .navbar-default .nav>li.active>a:focus {
  color: #CCC !important;
  background-color: transparent;
}

.navbar-default.affix .nav > li>a:hover, .navbar-default.affix .nav>li>a:focus:hover {
  color: #DDD !important;
}

@media(min-width: 633px) {
  .logo {
    content:url("../img/logo.png");
  }
}

@media(max-width: 632px){
  .logo {
    content:url("../img/logoSm.png");
  }
}
