{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary no-pad-bottom" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.about.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                    <hr class="light hr-red">
                {{ end }}
                {{ with .Site.Params.about.description }}
                    <p class="text-faded-red">{{ . | markdownify }}</p>
                {{ end }}
                <!-- {{ with .Site.Params.about.buttonText }}
                    <a href="#" class="btn btn-default btn-xl btn-mid wow tada">{{ . }}</a>
                {{ end }} -->
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class = "address">
      <a class = "text-faded-red" href="https://www.google.com/maps/place/Cherry+Hill+Public+Library/@39.9205103,-75.004413,17z/data=!3m1!4b1!4m2!3m1!1s0x89c6cb0da7993605:0x6b92d74781954744" target="_blank">1100 Kings Highway North, Cherry Hill, New Jersey</a>
    </div>
    <br>
    <div class="container-fluid map">
      <iframe width='100%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/bogidon.l6gl3gko/attribution,zoompan.html?access_token=pk.eyJ1IjoiYm9naWRvbiIsImEiOiJrVDd5QkgwIn0.S8EK_4IzAQFOFssmXyf7jQ'></iframe>
    </div>
</section>
